<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>
 	<settings>
 		<!-- @see http://mybatis.github.io/mybatis-3/zh/configuration.html and org.apache.ibatis.session.Configuration -->
 		<setting name="callSettersOnNulls" value="true"/><!-- 用于映射value为空的字段 -->
 		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="true"/>
 	</settings>

    <typeAliases>
        <typeAlias alias="User" type="org.hinsteny.bean.User"/>
        <typeAlias alias="Book" type="org.hinsteny.bean.Book"/>
        <typeAlias alias="Good" type="org.hinsteny.bean.Good"/>
        <typeAlias alias="Actor" type="org.hinsteny.bean.Actor"/>
        <typeAlias alias="Role" type="org.hinsteny.bean.Role"/>
        <typeAlias alias="Permission" type="org.hinsteny.bean.Permission"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="com.hisoka.mybatis.typehandler.LocalDateTimeTypeHandler"/>
        <typeHandler handler="com.hisoka.mybatis.typehandler.UUIDTypeHandler"/>
    </typeHandlers>

    <objectWrapperFactory type="com.hisoka.result.CamelbakKeyMapWrapperFactory"></objectWrapperFactory>
 </configuration>