<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		     http://www.springframework.org/schema/security
		     http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <beans:bean id="userDetailsService" class="com.hisoka.security.CustomUserDetailsService" />

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userDetailsService">
        </authentication-provider>
    </authentication-manager>

<!--    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="nimda" authorities="ROLE_ADMIN" />
            </user-service>
        </authentication-provider>
    </authentication-manager>-->

    <beans:bean id="authorityFilter" class="com.hisoka.filter.AuthorityFilter" />
    <!--authentication-manager-ref="authenticationManager"-->
    <http auto-config="true" >
        <csrf disabled="true" /> <!-- 禁用掉csrf过滤器-->
        <!--<anonymous enabled="false" />-->
        <intercept-url pattern="/static/**" access="permitAll" />
        <intercept-url pattern="/res/**" access="permitAll" />
        <intercept-url pattern="/home" access="permitAll" />
        <intercept-url pattern="/login" access="permitAll" />
        <intercept-url pattern="/admin**" access="hasRole('ADMIN')" />
        <!-- 授权过滤器 -->
        <!--<custom-filter before="FORM_LOGIN_FILTER" ref="loginFilter" />-->
        <custom-filter after="BASIC_AUTH_FILTER" ref="authorityFilter" />
        <form-login  default-target-url="/login" login-page="/login" authentication-failure-url="/login" />
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="user" password="password" authorities="ROLE_USER" />
                <user name="admin" password="password" authorities="ROLE_USER,ROLE_ADMIN" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>