/*
  auther: hinsteny
  desc: Login page style
  date: 2016/07/28
*/
.body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    line-height: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
    overflow-x: hidden;
    background-color: #FFF;
}
.body .nav-container{
    min-height: 55px;
}
.body .nav-container .nav-bar .module .img-home-url{
    position: absolute;
}
.body .nav-container .nav-bar .module .img-home-icon{
    position: relative;
    top: 25%;
}
.body .media-middle{
    padding: 5px 10px 0px;
}
.body .media-middle .message-show{
    padding: 0px 10px;
    width: 30%;
    float: right;
}
.body .media-middle .login-form{
    margin: 0px auto;
    padding: 50px 10px 0px 10px;
    width: 25%;
    text-align: left;
}