<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title> ***Hinsteny's Email*** </title>
    <style>
        .table{
            border-collapse: collapse;
        }
        .table th,.table td{
            border:solid 1px #DDD;
            padding:10px;
            font-size: 16px;
        }

        .row{
            padding:10px 0px;
        }

        .red{
            color:#f00;
        }

        .green{
            color:#00B809;
        }

        .content{
            font-size: 16px;
            padding:20px;
            font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
        }

        a{
            color: #428bca;
            text-decoration: none;
        }

        .description{
            color: #CCC;
        }

        .user-statistics{
            border-left: solid 5px #FF5252;
            padding-left: 9px;
        }

        .sms-statistics{
            border-left: solid 5px #57B0F0;
            padding-left: 9px;
        }

        .article-statistics{
            border-left: solid 5px #00B62C;
            padding-left: 9px;
        }
    </style>
</head>
<body>
<div class="content">
    <h1 class="user-statistics">用户统计</h1>
    <div class="row">目前注册人数总计：<span class="red">${totalRegister}</span>人</div>

    <h1 class="article-statistics">注册用户列表：</h1>
    <table class="table">
        <tr>
            <th>用户名</th>
            <th>密码</th>
        </tr>

        <%
        for(info in articleReadingInfo){
        %>
        <tr>
            <td>${info["title"]}</td>
            <td>${info["readNum"]}</td>
        </tr>
        <%}%>
    </table>

    <div class="row description">注：本邮件由系统自动发出，如不愿接收此类邮件，请直接回复本邮件退订，主题为：退订系统统计邮件。</div>
</div>
</body>
</html>