<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<properties>
		<property name="fileFolder">D://logs/SSM/</property>
		<property name="pattern">[%u{"TIME"}:%t] %C (%F:%L) %n%d [%p] %m%n%n</property>
		<property name="sizeTriggeringPolicy">1 MB</property>
		<property name="filePattern">%d{yyyy-MM-dd-HH}</property>
		<property name="frameworkLoggerLevel">ERROR</property>
		<property name="serviceLoggerLevel">DEBUG</property>
	</properties>

	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
		</Console>

		<RandomAccessFile name="ROLLING_FILE_INFO" fileName="${fileFolder}info.log"
						  filePattern="${fileFolder}info-${filePattern}.log" immediateFlush="false" append="true">
			<PatternLayout pattern="${pattern}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="${sizeTriggeringPolicy}" />
			</Policies>
			<DefaultRolloverStrategy max="4" compressionLevel="0" />
			<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"></ThresholdFilter>
		</RandomAccessFile>

		<RandomAccessFile name="ROLLING_FILE_ERROR" fileName="${fileFolder}error.log"
						  filePattern="${fileFolder}error-${filePattern}.log" immediateFlush="false" append="true">
			<PatternLayout pattern="${pattern}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="${sizeTriggeringPolicy}" />
			</Policies>
			<DefaultRolloverStrategy max="4" compressionLevel="0" />
			<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"></ThresholdFilter>
		</RandomAccessFile>

	</Appenders>

	<Loggers>
		<Logger name="org.springframework" level="${frameworkLoggerLevel}" />
		<Logger name="org.apache" level="${frameworkLoggerLevel}" />
		<Logger name="org.mybatis" level="${frameworkLoggerLevel}"/>
		<Logger name="com.zaxxer" level="${frameworkLoggerLevel}"/>
		<Logger name="org.springframework.data.redis" level="${frameworkLoggerLevel}" />
		<Logger name="org.springframework.amqp.rabbit" level="${frameworkLoggerLevel}"/>
		<Logger name="org.hinsteny" level="${serviceLoggerLevel}"/>
		<Logger name="org.hisoka" level="${serviceLoggerLevel}"/>

		<Root level="${serviceLoggerLevel}" includeLocation="false">
			<AppenderRef ref="CONSOLE" />
			<AppenderRef ref="ROLLING_FILE_INFO" />
			<AppenderRef ref="ROLLING_FILE_ERROR" />
		</Root>
	</Loggers>
</Configuration>